/tmp/

#Intellij
**/.idea
**/*.iml
**/*.iws
**/*.log

#Maven
**/target
**/log

# compilierte Programme
**/*.war
**/*.jar

# jekyll Ausgabe
docs/Gemfile.lock
docs/_site
docs/.jekyll-cache

# Wiki old
# docs/wiki
